{% extends 'base.html' %}

{% block content %}
<div class="card mx-auto row justify-content-center align-items-center input-group mb-3" style="width: 36rem;">
<h1 class="flex justify-content-center align-items-center input-group mb-3"> LIT REVIEW</h1>

    <div class="container flex flex-col">
        <form method="post">
            {% csrf_token %}
            <p>Voulez vous vraiment supprimer le ticket {{ ticket.title }} ?</p>
            <div class="container flex flex-row">
                <button type="submit" class="bg-red-500">Oui je suis sûr !</button>
                <a href="{% url 'feed' %}" class="button">Retour</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}