{% extends 'base.html' %}
{% block content %}
<h1>Créer une review</h1>

    <div class="content-section">
        <form enctype='multipart/form-data' method="POST">
            {% csrf_token %}

            <fieldset class="form-group">
                {% if request.get_full_path == "/review/new/" %}
                <h3>Livre / Article</h3>
                {{ ticket_form.as_p }}

                {% else %}
                <h4> Replying to {{ post.user }} :</h4>

                <article>
                    <div>
                        <h3>{{ post.title }}</h3>
                        <div>
                            {% if post.image %}
                            <img alt="{{ ticket.title }}" src="{{ ticket.image.url }}">
                            {% endif %}
                            <p>{{ post.description }}</p>
                        </div>
                    </div>
                </article>
                {% endif %}
                            {{ review_form.as_p }}
                            <input type="submit" value="Envoyer">
            </fieldset>
        </form>
    </div>
        {% endblock %}
