<div class="card mx-auto" style="width: 36rem;">
    {% if post.image %}
    <div class="col-md-8 px-0 mx-auto">
    <img src="{{ post.image.url }}" class="img-fluid" alt="La couverture du livre {{ post.title }}">
    </div>
    {% endif %}


    <div class="card-body">
        <h5 class="card-title"> {{ post.title }}</h5>
        <p class="card-text"> proposé par {{ post.user.username }}</p>
        <p class="card-text"> Descrption:  {{ post.description }}</p>
        <p  class="card-text">{{ post.time_created|date:"H:i, F d, Y" }}</p>
        {% if post not in replied %}
        <a href="{% url 'review_response' post.pk %}" class="btn btn-primary">Faire une critique de ce ticket</a>
        {% endif %}
    </div>
</div>
