<div>
</div>
<div> {% if ticket.image %}
    <div>
        <img alt="La couverture du livre {{ ticket.title }}" src="{{ ticket.image.url }}">
    </div>
    {% endif %}
    <div>
        <h2>{{ ticket.title }}</h2>
        <p>
            {% if ticket.user != request.user%}
            proposé par {{ ticket.user.username }}
            {% else %}
            que vous avez proposé
            {% endif %}
            le {{ ticket.time_created }}
        </p>
        <p>{{ ticket.description }}</p>
        <ul>
            <li><a href="{% url 'delete' ticket.id %}"> Supprimer </a></li>
            <li><a href="{% url 'update' ticket.id %}">Mettre à jour </a></li>
            <li><a href="{% url 'feed' %}">Retour </a></li>

        </ul>

        <div>


            {% for review in reviews %}
                {{review.ticket}}
            {% else %}
            {




            <p><a href="{% url 'review_response' ticket.id %}">Ajouter une critique </a></p>

        </div>
    </div>
</div>
