{% extends 'base.html' %}

{% block content %}
<h1 class="flex justify-content-center align-items-center input-group mb-3"> LIT REVIEW</h1>

{% for ticket in tickets %}
{% if ticket.user == request.user %}
    <div >

    <div >
<div class="flex justify-content-center align-items-center input-group mb-3">
        {% include 'review/ticket_snippet.html' with post=ticket %}
    </div>
</div>
    </div>
{% endif %}
{% endfor %}
{% for review in reviews %}

{% if review.user == request.user %}
            <>

<div class="flex justify-content-center align-items-center input-group mb-3">
    <div >
        {% include 'review/review_snippet.html' with post=review %}
    </div>
</div>
{% endif %}
{% endfor %}


{% endblock content %}
