{% extends 'base.html' %}
{% block content %}

<h1 class="flex justify-content-center align-items-center input-group mb-3"> LIT REVIEW</h1>

<div class="mx-auto row justify-content-center align-items-center input-group mb-3" style="width: 36rem;">
<div class="container ">
    <div class="row justify-content-center align-items-center" >
        <div class="col-8">
            <h2>Inscription</h2>
            <div class="card">
                <div class="card-body">
                    {% if form.errors %}
                    {{ form.errors }}
                    {% endif %}
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit">S’inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
